@charset 'utf-8';
/*global*/
body, div, p, h1, h2, h3, h4, h5, h6, blockquote,  /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre,  /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea,  /* form elements 表单元素 */
table,th,td /* table elements 表格元素 */{
	margin:0;
	padding:0;
}
ul,li{list-style:none;}
.cen{margin:0 auto;width:600px;}
body{min-width:600px;font-family:'Microsoft Yahei';}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
	zoom:1; /* for IE6 IE7 */
}
.n_con ul li.navon{color:#cf9;}


/*nav*/
#nav{width:100%;height:50px;background:rgba(51,153,102,.5);}
#nav .n_con{padding-top: 16px;}
#nav .n_con .con_logo{width:20px;height:20px;background:url('../img/logo.png');
	float:left;background-size:20px auto;}
#nav ul{float:right;}
.n_con ul li{float:left;color:white;font-family:'Microsoft Yahei';
	cursor:pointer;}
.n_con ul li:hover{color:#cf9;}
#nav ul li span{color:#ddd;}

/*list one*/
div.one{width:100%;height:100%;background:url('../img/mbg.jpg') no-repeat center;
	background-size:cover;}
div.one p{text-align:center;}
div.one p:nth-child(1){font-size:46px;color:#cfc;padding: 200px 0px 12px;}
div.one p:nth-child(2){font-size:18px;color:#cfc;}
div.one p:nth-child(3){font-size:40px;color:white;padding: 19px 0px 44px;}

/*list two*/
div.two{background:#f8f0ff;height:500px;}
.conlist_head{padding-top:100px;text-align:center;}
.conlist_head p{font-size:21px;}
.conlist_head div{font-size:30px;color:#2e7e54;position:relative;}
.conlist_head div:after{content:'';width:200px;height:1px;background:#2e7e54;
	display:block;float:right;margin-top: 20px;}
.conlist_head div:before{content:'';width:200px;height:1px;background:#2e7e54;
	display:block;float:left;margin-top: 20px;}

.two_body{margin-top:20px;}
.two_body img{display:block;float:left;border-radius:50%;border:2px solid #2e7e54;
	width:200px;}
.two_body .body_mes{float:right;}
.two_body .body_mes p{font-size:20px;font-weight:bold;margin-bottom:10px;}
.two_body .body_mes ul{margin-left:25px;}
.two_body .body_mes ul li{font-size:15px;color:#333;line-height:20px;
	line-height: 30px;}
.two_body .body_mes ul li:last-child{font-size:13px;}
.two_body .body_mes ul li em{display:inline-block;width:5px;height:5px;
	background:green;;border-radius:50%;margin-right:5px}



